# Iterables in python

- collection on which we can loop, is iterable.
- Iterable collections in python are **list, tuple, dict and set**.

In [6]:
#    0    1   2   3
l = [45, 12, 12, 45] # index:value pair
type(l)

list

In [7]:
t = (45, 12, 12, 45) # index:value pair
type(t)

tuple

In [8]:
d = {10:45, 21:12, 'a':12, 13:45} # key":value pair
type(d)

dict

In [11]:
s = {10, 21, 'a', 13, 21} # unique key collection
type(s)

set

In [12]:
print(s)

{10, 13, 'a', 21}

```
List            Tuple            Dictionary            Set
----------------------------------------------------------------
[]              ()               {k:v, ...}           {k, ...}
unordered       unordered        unordered             unordered
sequential_index  s.i            non-sequence          n.s.i
redundant       redundant        redundant             unique
mutable         immutable        mutable               mutable
index:value     index:value      key:value             key
```

- frozenset is immutable and unique collection.
- mutable + unique: set
- mutable + redundant : list
- immutable + redundant : tuple
- immutable + unique : frozenset(set)
- key:value information mapping: dict

In [13]:
l = [234,6,2353]
l.index(20)

ValueError: 20 is not in list

In [16]:
s = {234,52,34}
s.remove(20)

KeyError: 20

## Meaning & Properties

List & Tuples are is a sequential and unordered collection is python.

- collection
- sequential (indexing, slicing)
- unordered values
- duplicate/redundant
- List is **mutable** but tuple is **immutable**.
## List comprehension

In [17]:
l = []

In [18]:
l.append(1) # create

In [19]:
l

[1]

In [20]:
l.remove(1) # delete

In [21]:
l

[]

In [23]:
l = [12, 13, 14]
l[0] = 100 # update
l

[100, 13, 14]

In [24]:
l[0] # read

100

In [27]:
t = (12, 13, 14)
t[0] = 100 # immutable, hence no update

TypeError: 'tuple' object does not support item assignment

In [29]:
t.append(15) # no create

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
t.remove(12) # no delete

AttributeError: 'tuple' object has no attribute 'remove'

In [31]:
t[0] # read works

12

## dir(list), dir(tuple)

In [37]:
for i in dir(list):
    if not i.startswith("__"):
    # if not i[:2]=="__":
        print(i)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

- ```__add__``` : dunder add

In [38]:
a = [1, 2]
b = [3, 4, 5]
a+b

[1, 2, 3, 4, 5]

In [39]:
a.__add__(b)

[1, 2, 3, 4, 5]

#### CRUD operations on list

```
C(reate) : append(value), copy(), extend([value, ...]), 
insert(index, value)
R(ead)   : count(value), index(value)
U(pdate) : reverse(), sort(reverse=True)
D(elete) : clear(), pop(index=-1), remove(value)
```

- Tuples are read-only or immutable list

In [42]:
for i in dir(tuple):
    if not i.startswith("__"):
    # if not i[:2]=="__":
        print(i)

count
index

In [44]:
t = 1, 2, 3
type(t)

tuple

#### single value tuple

In [48]:
t = (1,)
type(t)

tuple

In [49]:
t = "apple",
type(t)

tuple

#### List representations

In [50]:
a = [1, 2, 3]
b = [1, 2, 3,]
c = [
    1,
    2,
    3
]
d = [
    1,
    2,
    3
]
a == b == c == d

True

In [51]:
l = []
type(l)

list

In [52]:
if len(l)==0:
    print("Empty")
else:
    print("not empty")

Empty

In [53]:
l = [1, 2, 3, [4, 5]] # nested list

In [56]:
l[3][0]

4

In [58]:
l = []

In [59]:
l.append(2)

In [60]:
l

[2]

In [61]:
l.append(3)

In [62]:
l

[2, 3]

In [63]:
l.append('apple')

In [64]:
l

[2, 3, 'apple']

In [66]:
l.extend([234,52,34,5])

In [67]:
l

[2, 3, 'apple', 234, 52, 34, 5]

In [68]:
l.insert(0, 1000)

In [69]:
l

[1000, 2, 3, 'apple', 234, 52, 34, 5]

In [70]:
l.append((324,5,234,5))

In [71]:
l

[1000, 2, 3, 'apple', 234, 52, 34, 5, (324, 5, 234, 5)]

In [72]:
l.pop()

(324, 5, 234, 5)

In [73]:
l.remove('apple')

In [74]:
l

[1000, 2, 3, 234, 52, 34, 5]

In [75]:
l.sort()

In [76]:
l

[2, 3, 5, 34, 52, 234, 1000]

In [77]:
l.reverse()

In [78]:
l

[1000, 234, 52, 34, 5, 3, 2]

In [79]:
l.index(52)

2

In [80]:
l.append(52)

In [81]:
l

[1000, 234, 52, 34, 5, 3, 2, 52]

In [84]:
l.index(52)

2

In [86]:
for i in range(len(l)):
    if l[i]==52:
        print(i)

2
7

In [87]:
l.count(2)

1

In [88]:
l.count(52)

2

In [89]:
l.count('Ram')

0

In [90]:
help(list.copy)

Help on method_descriptor:

copy(...)
    L.copy() -> list -- a shallow copy of L

In [97]:
l = [1, 2, 3]
a = l # alias
b = l.copy() # shallow/seperate copy

In [92]:
l

[1, 2, 3]

In [93]:
a

[1, 2, 3]

In [94]:
b

[1, 2, 3]

In [99]:
l.pop()

3

In [100]:
l

[1, 2]

In [101]:
a

[1, 2]

In [102]:
b

[1, 2, 3]

In [103]:
t = (1, 2, 3, 3)

In [104]:
t.index(1)

0

In [105]:
t.count(3)

2

#### WAP to add a given value in the beginning of a given list

In [106]:
l = eval(input("Enter list: "))
v = eval(input("Enter value: "))
l.insert(0, v)
print(l)

Enter list: [1, 2, 3]
Enter value: 100
[100, 1, 2, 3]

#### WAP to delete the first and last values from a list.
- Tip: Consider all sizes
```
>>> []
[]
>>> [17]
[]
>>> [1, 2, 3]
[2]
```

In [112]:
l = eval(input("Enter a list: "))
if len(l) <= 1:
    print([])
else:
    l.pop(0)
    l.pop() # -1 is default
    print(l)

Enter a list: [123,54,1235,123532,5]
[54, 1235, 123532]

### WAP to add the first and last value from a list
```
>>> []
0
>>> [17]
17
>>> [1, 2, 3]
4
```

In [115]:
l = eval(input("Enter a list: "))
if len(l)==0:
    print(0)
elif len(l)==1:
    print(l[0])
else:
    print(l[0]+ l[-1])

Enter a list: [1, 2, 3]
4

### WAP to delete all odd numbers from a list of numbers
```
>>> [2, 45, 56, 67, 69, 12, 13, 15]
[2, 56, 12]
```

In [116]:
l = eval(input("Enter a list: "))
a = []
for i in l:
    if i%2==0:
        a.append(i)
print(a)

Enter a list: [2, 45, 56, 67, 69, 12, 13, 15]
[2, 56, 12]

### WAP to get the common data in two list
```
>>> [1, 2, 3], [4, 3, 7]
[3]
```

In [117]:
a = eval(input("Enter a list: "))
b = eval(input("Enter a list: "))
c = []
for i in a:
    if i in b:
        c.append(i)
print(c)

Enter a list: [1, 2, 3]
Enter a list: [4, 3, 7]
[3]

### WAP to sort and reverse a  given list
```
>>> [34, 12, 45]
[45, 34, 12]
```

In [118]:
a = eval(input("Enter a list: "))
a.sort()
a.reverse()
print(a)
# print(sorted(a)[::-1])

Enter a list: [34, 12, 45]
[45, 34, 12]

#### WAP to get the sum of list values.

In [120]:
a = eval(input("Enter a list: "))
sum(a)

Enter a list: [1, 2, 3, 4, 5]

15

#### WAP to get the maximum and mininum values from a list of numbers

In [121]:
a = eval(input("Enter a list: "))
print(max(a), min(a))

Enter a list: [32,52,35,234,5,2345,234,5234,2]
5234 2

#### WAP to find the sorted uncommon values in two lists
```
>>> [1, 2, 3, 4], [3, 4, 6, 5]
[1, 2, 5, 6]
```

In [124]:
a = eval(input("Enter a list: "))
b = eval(input("Enter a list: "))
c = []
for i in a:
    if i not in b:
        c.append(i)
for j in b:
    if j not in a:
        c.append(j)
print(sorted(c))
# c.sort()
# print(c)

Enter a list: [1, 2, 3, 4]
Enter a list: [3, 4, 6, 5]
[1, 2, 5, 6]

In [125]:
l = [3, 1, 2]

In [126]:
sorted(l)

[1, 2, 3]

In [127]:
l

[3, 1, 2]

In [128]:
l.sort()

In [129]:
l

[1, 2, 3]

### List comprehesnion